<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.raywenderlich.android.imet">

  <application
    android:name=".IMetApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".ui.MainActivity"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.details.PeopleDetailsActivity"
      android:label="@string/people_details"
      android:parentActivityName=".ui.MainActivity" />
    <activity
      android:name=".ui.add.AddPeopleActivity"
      android:label="@string/add_people"
      android:parentActivityName=".ui.MainActivity" />
  </application>

</manifest>
